---
name: pipeline
on: 
  push:
   branches: [ runner-test ]

jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
     - uses: actions/checkout@v3

     - name: Deploy
       uses: WyriHaximus/github-action-helm3@v3
       with:
          exec: helm repo add bitnami https://charts.bitnami.com/bitnami && helm repo update && helm install nginx bitnami/nginx 
          kubeconfig: '${{ secrets.KUBECONFIG }}'
